.trending-list__container {
    padding: 4rem 0 1.6rem;

    h2 {
        display: flex;
        align-items: center;
        svg {
            font-size: 2rem;
            border: 0.1rem solid var(--black);
            border-radius: 50%;
            opacity: 0.8;
            margin-right: 1rem;
        }
    }

    a {
        color: var(--text-color);
        text-decoration: none;
    }
}
