.blog-details__author-wrapper {
    padding-top: 7.2rem;
    padding-bottom: 9.6rem;
    background-color: #f9f9f9;
}

.blog-details__author-details {
    display: flex;
    align-items: center;
    padding-bottom: 4rem;
    border-bottom: 1px solid #e5e5e5;

    svg {
        font-size: 2.4rem;
        margin-right: 0.8rem;
    }

    h4 {
        font-size: 2.4rem;
        line-height: 3rem;
    }
}

.blog-details__author-blog-list {
    h3 {
        font-size: 1.6rem;
        font-weight: 500;
        margin: 4rem 0 3.2rem;
    }
}

@media (max-width: 739px) {
    .blog-details__author-wrapper {
        padding-top: 4.8rem;
    }

    .blog-details__author-details {
        padding-bottom: 3.2rem;
    }

    a.blog-details__more-btn {
        font-size: 1.4rem;
        font-weight: 300;
        padding: 0.8rem 1.6rem;
        border: 0.1rem solid var(--text-color);
        border-radius: 99em;
        color: var(--text-color);
        text-transform: none;
        width: 100%;

        &:hover {
            border-color: var(--text-color);
        }
    }
}
