@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --gray: #6b6b6b;
    --light-gray: #f2f2f2;
    --text-color: #242424;
    --black: #000;
    --white: #fff;
    --yellow: #ffc017;
    --blue: #437aff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: var(--text-color);
    line-height: 2.2rem;
    text-rendering: optimizeSpeed;
}

.sub-title-md {
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    color: var(--text-color);
}

.hide-on-pc {
    display: none !important;
}

@media (min-width: 740px) {
    .hide-on-tablet-pc {
        display: none !important;
    }
}

@media (max-width: 739px) {
    .hide-on-mobile {
        display: none !important;
    }
}
