.rcm-topics {
    padding-bottom: 3.2rem;
    border-bottom: 0.1rem solid var(--light-gray);
}

.rcm-list__topic-list {
}

.rcm-list__topic-item {
    display: block;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2rem;
    padding: 0.8rem 1.6rem;
    margin: 0 1rem 0.8rem 0;
    color: var(--text-color);
    background-color: var(--light-gray);
    border: 0.1rem solid var(--light-gray);
    border-radius: 10rem;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
}

//Responsive for tablet + mobile devices
@media (max-width: 1023px) {
    .rcm-topics {
        border-bottom: none;
        padding-bottom: 0;
    }
}
