.blog-details__wrapper {
    margin-bottom: 8.8rem;
}

.blog-details__title {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 5.2rem;
    margin: 8vh 0 3.2rem;
}

.blog-details__author {
    display: flex;
    align-items: center;
}

.blog-details__author-img svg {
    --size: 4.4rem;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
}

.blog-details__author-info {
    margin-left: 1.2rem;

    h6 {
        font-size: 1.6rem;
        font-weight: 300;
    }
    p {
        font-size: 1.4rem;
        font-weight: 300;
        color: var(--gray);
    }
}

.blog-details__interaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.2rem;
    padding: 0.4rem 0.8rem;
    border-top: 0.1rem solid var(--light-gray);
    border-bottom: 0.1rem solid var(--light-gray);
}

.blog-details__interaction-left {
    display: flex;
    align-items: center;
}

.blog-details__interaction-right svg {
    font-size: 2.4rem;
    color: var(--gray);
}

.blog-details__interaction-right button {
    &:hover {
        color: var(--text-color);
        background-color: transparent;

        svg {
            color: var(--text-color);
        }
    }
}

button.blog-details__interaction-item {
    margin-right: 1.6rem;
}

.blog-details__content {
    margin-top: 4rem;
    margin-bottom: 6.8rem;

    p {
        font-size: 2rem;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: -0.003em;
    }

    .blog-details__interaction {
        padding-top: 4.6rem;
        border-top: none;
        border-bottom: none;
    }
}

.blog-details__img {
    display: block;
    margin: 0 auto 4rem;
    max-width: 100%;
    min-width: 30vw;
    height: auto;
}

@media (min-width: 740px) and (max-width: 1023px) {
    .blog-details__title {
        margin-top: 4rem;
    }
}

@media (max-width: 739px) {
    .blog-details__title {
        font-size: 3.2rem;
        margin-top: 3.2rem;
        margin-bottom: 2.4rem;
    }

    .blog-details__interaction {
        margin-top: 2.4rem;
    }

    .blog-details__content {
        margin-top: 2.8rem;
        p {
            font-size: 1.8rem;
        }

        .blog-details__interaction {
            padding-top: 2.4rem;
        }
    }

    .blog-details__img {
        margin-bottom: 2.8rem;
    }
}
